@import '../../style/index.scss';
$size-list: 'large', 'medium', 'small';
// $size-height-list: 28px, 22px, 18px;
$size-height-list: 40px, 32px, 28px;
$size-font-list: 16px, 14px, 12px;
$size-circle-list: 28px, 22px, 20px;
$zise-top-list: 6px, 5px, 4px;
$zise-left-list: 6px, 5px, 4px;
$size-dot-list: 14px, 11px, 10px;
$size-min-width-list: 80px, 60px, 50px;

@mixin size-context($i) {
  height: nth($size-height-list, $i);
  font-size: nth($size-font-list, $i);
  min-width: nth($size-min-width-list, $i);
  user-select: none;
  &.#{$switch} {
    padding: 0 6px 0 30px;

    &::before {
      width: nth($size-circle-list, $i);
      height: nth($size-circle-list, $i);
      top: nth($zise-top-list, $i);
      left: nth($zise-left-list, $i);
      right: auto;
      // box-shadow: ;
    }
    &::after {
      width: nth($size-dot-list, $i);
      height: nth($size-dot-list, $i);
      top: calc(
        #{nth($zise-top-list, $i)} + #{(
            nth($size-circle-list, $i) - nth($size-dot-list, $i)
          ) / 2}
      ); //calc(50% - #{nth($size-dot-list, $i) / 2});
      left: calc(
        #{nth($zise-top-list, $i)} + #{(
            nth($size-circle-list, $i) - nth($size-dot-list, $i)
          ) / 2}
      );
      background-color: #9baacf;
    }
    &:active {
      &::before {
        width: calc(100% - #{nth($zise-left-list, $i) * 2});
      }
      &::after {
        opacity: 1;
        width: 50%;
      }
    }

    &.active {
      padding: 0 30px 0 6px;
      &::before {
        left: auto;
        right: nth($zise-left-list, $i);
      }
      &::after {
        left: auto;
        right: #{2px + (nth($size-circle-list, $i) - nth($size-dot-list, $i))/2};
      }
    }

    .#{$switch}__input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      margin: 0;
    }
  }
}

:host {
  border-radius: 999px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;

  .#{$switch}-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .#{$switch} {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #eee;
    border-radius: inherit;
    position: relative;
    transition: all $animation-duration-base linear;
    .n-switch-inner {
      display: inline-flex;
      align-items: center;
      height: 100%;
      user-select: none;
    }
    &::before {
      content: '';
      position: absolute;
      border-radius: inherit;
      background-color: #fff;
      // box-shadow: 0 2px 4px 0 rgba(0, 38, 10, 0.2);
      transition: all $animation-duration-base
        cubic-bezier(0.25, 0.46, 0.45, 0.94);
      z-index: 1;
    }
    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      border-radius: inherit;
      // box-shadow: 0 2px 4px 0 rgba(0, 38, 10, 0.2);
      transition: all $animation-duration-base
        cubic-bezier(0.25, 0.46, 0.45, 0.94);
      // background-color: $color-success;
      // opacity: 0;
    }
    // &:active {
    //   &::before {
    //     width: calc(100% - 4px);
    //   }
    //   &::after {
    //     opacity: 1;
    //     width: 50%;
    //   }
    // }

    //zoosemy
    &.is-zoosemy {
      background-color: #e4ebf5;
      box-shadow: -0.23em -0.23em 0.5em #ffffffb3, 0.35em 0.35em 0.7em $gray-2;
      &::before {
        box-shadow: -0.23em -0.23em 0.5em #ffffffb3, 0.35em 0.35em 0.7em $gray-2;
      }
      &:active {
        box-shadow: inset 0.1em 0.1em 0.12em #c8d0e7,
          inset -0.1em -0.1em 0.12em #fff;
      }
    }
  }
  &:host([disabled]) {
    cursor: not-allowed;
    .#{$switch}-wrapper {
      &::after {
        background-color: $color-info;
      }
    }
  }

  .#{$switch} {
    @for $i from 1 to length($size-list) + 1 {
      @if (nth($size-list, $i) == medium) {
        @include size-context($i);
      } @else {
        &.is-#{nth($size-list, $i)} {
          @include size-context($i);
        }
        // &:host([size='#{nth($size-list,$i)}']) {
        // }
      }
    }
  }
}
