{
  "presets": [
    ["@babel/preset-react", { "pragma": "Novel.createVirtalElement" }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }], // 这个是装饰器
    ["@babel/plugin-proposal-class-properties", { "loose": false }]
  ]
}
