//name
$prefix: 'n-';
$button: #{$prefix}button;
$button-group: #{$button}-group;
$badge: #{$prefix}badge;
$icon: #{$prefix}icon;
$menu: #{$prefix}menu;
$menu-item: #{$menu}-item;
$submenu: #{$prefix}submenu;
$radio: #{$prefix}radio;
$radio-group: #{$radio}-group;
$link: #{$prefix}link;
$switch: #{$prefix}switch;

// color
$gray-1: #ccc;
$gray-2: #c8d0e7;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #646566;
$gray-light-1: #e4ebf5;
$gray-light-2: #c8d0e7;
$gray-light-3: #bec8e4;
$color-background: #f7f8fa;
$color-text: #323233;
$color-black:#000;
$color-white: #fff;
$color-success: #4caf50;
$color-primary: #6d5dfc; //#2196f3;
$color-info: #909399;
$color-warning: #ff9900;
$color-danger: #ed3321;
$color-success-dark: mix($color-black, $color-success, 40%) !default;
$color-primary-dark: mix($color-black, $color-primary, 40%) !default;
$color-info-dark: mix($color-black, $color-info, 40%) !default;
$color-warning-dark: mix($color-black, $color-warning, 40%) !default;
$color-danger-dark: mix($color-black, $color-danger, 40%) !default;
$color-success-light: mix($color-white, $color-success, 40%) !default;
$color-primary-light: mix($color-white, $color-primary, 40%) !default;
$color-info-light: mix($color-white, $color-info, 40%) !default;
$color-warning-light: mix($color-white, $color-warning, 40%) !default;
$color-danger-light: mix($color-white, $color-danger, 40%) !default;
$color-success-lighter: mix($color-white, $color-success, 70%) !default;
$color-primary-lighter: mix($color-white, $color-primary, 70%) !default;
$color-info-lighter: mix($color-white, $color-info, 70%) !default;
$color-warning-lighter: mix($color-white, $color-warning, 70%) !default;
$color-danger-lighter: mix($color-white, $color-danger, 70%) !default;
$color-disabled: #e6e6e6;
$color-error: #f56c6c;
$color-border: #c0c4cc;

//font
$base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
  Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB',
  'Microsoft Yahei', sans-serif;

/** breakpoints **/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs': (
    max-width: $--sm - 1,
  ),
  'sm': (
    min-width: $--sm,
  ),
  'md': (
    min-width: $--md,
  ),
  'lg': (
    min-width: $--lg,
  ),
  'xl': (
    min-width: $--xl,
  ),
);

//animation
$animation-duration-base: 0.3s;
$animation-duration-fast: 0.2s;
$animation-timing-function-enter: ease-out;
$animation-timing-function-leave: ease-in;



